<template>
	<div class="container col-12">
		<h1>Upload an image.</h1>
		<form id="frmUploader"  @submit.prevent="uploadImage()" enctype="multipart/form-data" method="post">
        <input type="file" name="imgUploader"   ref="fileInput"/>
        <button type="submit" class="btn btn-info" name="submit" id="btnSubmit" value="upload">Upload</button> 
    	</form>	

    	<div id="images" class="container">
		    <div class="card mb-3" v-for="(image,idx) in images" :key="idx">
			  <img :id="image.id" :src="image.imagePath" class="card-img-top" :alt="image.name">
			  {{image.imagePath}} <-
			  <div class="card-body">
			    <h5 class="card-title">{{image.name}}</h5>
			    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
			    
			  </div>
			  <div class="container">
			  	<button type="button" class="btn-sm btn-info" @click="deleteImage(image.id, image.name, image.imagePath)">Delete</button>
			  </div>
			</div>
		</div>
	</div>



</template>

<script>
	export default{
		data(){
			return{
				image: {},
				file:"",
				images:[]
				
			}
		},
		created(){
			this.listAllImages();
		},
		methods:{
			listAllImages(){
				this.axios.get('/images').then(res=>{
					console.log('listing.....');
					this.images = res.data;
				})
				.catch(err=>{
					console.log(err);
				});
			},
			deleteImage(id, name, imagePath){
				this.axios.post(`/deleteImage/`, {'id':id, 'name':name, 'imagePath':imagePath}).then(res=>{
					console.log('deleting...');
					console.log(res.data);
					const idx = this.images.findIndex(item => id === res.data.id);
					console.log(idx);
		   	 	  	this.images.splice(idx, 1);

				}).catch(err=>{
					console.log(err);
				}).finally(_=>{
					this.listAllImages();
				});
			},
			uploadImage(){
				console.log('jalo');
				const file = document.getElementsByName('imgUploader')[0].files[0];
				this.file = file;
				const formData = new FormData();
				formData.append('imgUploader', this.file);

				this.axios.post('/upload', formData ).then(res=>{
					console.log(res.data.imagePath);
					console.log(res.data.id);
					console.log(res.data.originalname);
					this.images.push({
						'id':res.data.id,
						'imagePath':res.data.imagePath,
						'name':res.data.originalname
					});

					this.$refs.fileInput.value = null; 
					
				})
				.catch(err=>{
					console.log(err);
				})
				.finally(_=>{
					this.listAllImages();
				})
			}	
		}
	}

</script>